<h1><%= @pet.name %> the <%= @pet.species.capitalize %></h1>
<h4>Breed: <%= @pet.breed %></h4>
<h4>Age: <%= @pet.age %></h4>
<h4>Color: <%= @pet.color %></h4>

<a href="/owners/<%= @pet.owner.id%>" ><h4>Owner: <%= @pet.owner.name %> </h4></a>

