<h1>Menu</h1>

<h4>Your Cart: </h4>
<ol>
  <% @cart_nachos.each do |n| %>
    <li><%= n.name %>
      <%= button_to "Remove from cart",
          {
            action: "remove_from_cart", 
            controller: "cart",
            id: n.id
          }, 
          method: "delete" 
  %>
    </li>

  <% end %>
  <%= button_to "Clear cart",
          {
            action: "clear_cart", 
            controller: "cart"
          }, 
          method: "delete" 
  %>
</ol>

<hr>

<% @nachos.map do |nacho| %>
  <ul>
    <li>
      <%= link_to nacho.name, nacho %>
      $<%= nacho.price %>
      <%=
        button_to "Add To Cart", 
          {
            action: "add_to_cart", 
            controller: "cart",
            id: nacho.id
          }, 
          method: "patch" 
      %>
    </li>
  </ul>
<% end %>
