<h1>Create a band</h1>

<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @band do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :home_city %>
  <%= f.text_field :home_city %><br>
  <%= f.label :instrument_type %>
  <%= f.text_field :instrument_type %><br>
  <%= f.label :number_of_members %>
  <%= f.number_field :number_of_members %><br>
  <%= f.label :active %>
  <%= f.check_box :active %><br>

  <%= f.submit %>
<% end %>